<div class="wrapper">
    <!-- <p>login works!</p>
    <p>{{ isLoading$ | async }}</p> -->

    <div class="login-box">
        <h3>Welcome back</h3>
        <p>Sign in to continue</p>
        <form>
            <div class="input-wrapper">
                <label for="email">Email</label>
                <div class="ibg">
                    <input id="email" type="email" placeholder="Email Address" />
                </div>
            </div>

            <div class="input-wrapper">
                <label for="email">Password</label>
                <div class="ibg">
                    <input id="password" type="password" placeholder="***********" />
                </div>
            </div>

            <button class="btn">Login user</button>
        </form>
    </div>
</div>
