*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root{
    box-sizing: border-box;
    font-size: calc(.5em + 1vw);

    @media(min-width: 50em) {
        font-size: 1.125em;
    }
}

body, html{
    height: 100%;
    width: 100%;
}