*{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

:root{
    box-sizing: border-box;
    font-size: calc(.5em + 1vw);

    @media(min-width: 50em) {
        font-size: 1.125em;
    }

    --grey: #F1F0F6;
    --dark-grey: #8D8D8D;
    --light: #fff;
    --dark: #000;
    --green: #81D43A;
    --light-green: #E3FFCB;
    --blue: #1775F1;
    --light-blue: #D0E4FF;
    --dark-blue: #0C5FCD;
    --red: #FC3B56;
}

body, html{
    height: 100%;
    width: 100%;
}